html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1;
}

.container {
  font-family: sans-serif;
  padding: 20px;
}

.container .heading {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
}

.container .para {
  font-size: 22px;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 30px;
}

.container .btnMass {
  width: 100%;
  color: #f81317;
  background: rgba(248, 19, 23, 0.1);
  border: 1px solid #f81317;
  font-size: 35px;
  font-weight: 100;
  padding: 15px;
  margin-bottom: 20px; 
}

.container .btnLength {
  width: 100%;
  color: #1376f8;
  background: rgba(19, 118, 248, 0.1);
  border: 1px solid #1376f8;
  font-size: 35px;
  font-weight: 100;
  padding: 15px; 
}

.container .btnTime {
  width: 100%;
  color: #06a301;
  background: rgba(6, 163, 1, 0.1);
  border: 1px solid #06a301;
  font-size: 35px;
  font-weight: 100;
  padding: 15px;
  margin-top: 20px; 
}

.container .madeBy {
  text-align: center;
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.6);
}

.containerMass,
.containerLength,
.containerTime {
  font-family: sans-serif;
}

.containerMass .top {
  padding: 20px 20px 75px 20px;
  background: linear-gradient(to bottom left, #f81317, #e0957e);
  height: 60%;
  box-sizing: border-box;
}

.containerLength .top {
  padding: 20px 20px 75px 20px;
  background: linear-gradient(to bottom left, #1376f8, #654ba3);
  height: 60%;
  box-sizing: border-box;
}

.containerTime .top {
  padding: 20px 20px 75px 20px;
  background: linear-gradient(to bottom left, #06a301, #29a893);
  height: 60%;
  box-sizing: border-box;
}

.containerMass .top .heading,
.containerLength .top .heading,
.containerTime .top .heading {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-top: 30px;
}

.containerMass .top .unitOne,
.containerLength .top .unitOne,
.containerTime .top .unitOne {
  margin-top: 60px;
}
.containerMass .top .unitOne .largeInput,
.containerLength .top .unitOne .largeInput,
.containerTime .top .unitOne .largeInput {
  font-size: 50px;
  color: white;
  font-weight: 100;
  padding: 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  border-bottom: 1px solid white;
  width: 100%;
  box-sizing: border-box;
}

.containerMass .top .unitOneDesc,
.containerLength .top .unitOneDesc,
.containerTime .top .unitOneDesc {
  color: white;
}

.containerMass .top .unitOneDesc select,
.containerLength .top .unitOneDesc select,
.containerTime .top .unitOneDesc select {
  border: 0;
  background: transparent;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 300;
}

.containerMass .bottom,
.containerLength .bottom,
.containerTime .bottom {
  padding: 20px;
  background: white;
  height: 40%;
  box-sizing: border-box;
}

.containerMass .bottom .unitTwo,
.containerLength .bottom .unitTwo,
.containerTime .bottom .unitTwo {
  margin-top: 60px;
}

.containerMass .bottom .unitTwo .largeInput {
  font-size: 50px;
  color: #f81317;
  font-weight: 100;
  padding: 10px;
  margin: 0;
  background: rgba(248, 19, 23, 0.1);
  border: 0;
  border-bottom: 1px solid #f81317;
  width: 100%;
  box-sizing: border-box;
}

.containerLength .bottom .unitTwo .largeInput {
  font-size: 50px;
  color: #1376f8;
  font-weight: 100;
  padding: 10px;
  margin: 0;
  background: rgba(19, 118, 248, 0.1);
  border: 0;
  border-bottom: 1px solid #1376f8;
  width: 100%;
  box-sizing: border-box;
}

.containerTime .bottom .unitTwo .largeInput {
  font-size: 50px;
  color: #06a301;
  font-weight: 100;
  padding: 10px;
  margin: 0;
  background: rgba(6, 163, 1, 0.1);
  border: 0;
  border-bottom: 1px solid #06a301;
  width: 100%;
  box-sizing: border-box;
}

.containerMass .bottom .unitTwoDesc {
  color: #f81317;
}

.containerLength .bottom .unitTwoDesc {
  color: #1376f8;
}

.containerTime .bottom .unitTwoDesc {
  color: #06a301;
}

.containerMass .bottom .unitTwoDesc select {
  border: 0;
  background: transparent;
  color: #f81317;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 300;
}

.containerLength .bottom .unitTwoDesc select {
  border: 0;
  background: transparent;
  color: #1376f8;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 300;
}

.containerTime .bottom .unitTwoDesc select {
  border: 0;
  background: transparent;
  color: #06a301;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 300;
}
